* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #1b2835;
    color: #c7d5e0;
}

#root {
        display: flex;
    flex-direction: column;
    justify-content: space-between;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: #171a15;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #66c0f4;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #c7d5e0;
    transition: 0.3s;
}

nav a:hover {
    color: #66c0f4;
}

.btn-nav {
    background-color: #5c7e10;
    padding: 8px 15px;
    border-radius: 4px;
    color: white;
}

/* HERO */

.hero {
    height: 80vh;
    background: linear-gradient(to right, #1b2838, #0f1c2c);
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.hero-content {
    max-width: 600px;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
}

.cta {
    background-color: #66c0f4;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    color: #1b2838;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.3s;
}

.cta:hover {
    background-color: #417a9b;
}


footer {
    text-align: center;
    padding: 20px;
    background-color: #0f1c2c;
    font-size: 14px;
}


.jogo {
    
    background: linear-gradient(to right, #1b2838, #0f1c2c);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.jogo-content {
    min-width: 300px;
    max-width: 80vw;
    display: flex;    
}

.jogo-info {
    flex-grow: 2;
}

.jogo-imagem {
    padding: 15px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    align-items: center;
}

.jogo h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.jogo p {
    font-size: 18px;
    margin-bottom: 30px;
}